wp-config.php
wp-content/*
!wp-content/plugins
!wp-content/mu-plugins
!wp-content/themes
!wp-content/languages

# ai1wm-backups
wp-content/ai1wm-backups
wp-content/plugins/all-in-one-wp-migration/storage


wp-content/wflogs
wordfence-waf.php
.htaccess.bk

.vscode
.htaccess
*.config
*.log
robots.txt
.user.ini

.DS_Store
/node_modules